html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Roboto", serif;
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: skyblue;
    /* background-image: linear-gradient(to right, lightblue, rgba(144, 238, 144, 0.734)); */
}