.modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: unset;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: skyblue;
}

h1.hourly-header {
    text-align: center;
}

button.exit-button {
    background-color: navy;
    color: white;
    font-size: 25px;
    padding: 5px;
    position: fixed;
    right: 35px;
    width: 35px;
    height: 35px;
}

button.exit-button:hover {
    background-color: white;
    color: navy;
}

div.hourly-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    border: 2px navy;
    padding: 5px;
}

.modal-content {
    width: 100%;
    height: 100vh;
    background-color: skyblue;
    margin: auto;
    padding: 10px;
}