.weather-form {
  display: flex;
  justify-content: start;
  flex-direction: row;
}

div.weather-page {
  position: absolute;
  left: 25%;
  top: 20px;
  height: 100vh;
  width: 90%;
}

div.weather-card {
  grid-row: span 3;
}

a {
  color: black;
  text-decoration: none;
  margin: 20px;
  width: 200px;
}

a.active-link {
  color: blue;
}

button.go-button-current {
  height: 25px;
}

p.instruction-paragraph {
  display: block;
  font-size: 1.5em;
}

div.weather-card-container {
  margin-top: 10px;
 display: grid;
  grid-template-columns: 479px 479px ;
  grid-template-rows: 141px 141px 141px;
  gap: 15px;
}

div.forecast-cards {
  width: 435px;
  height: auto;
  padding: 10px;
  border: 3px solid navy;
  border-radius: 15px;
  margin-top: 10px;
  background-image: linear-gradient(to right, lightblue, rgba(174, 238, 144, 0.177));
  /* background-color: skyblue; */
}