div.weather-card {
  width: 435px;
  height: fit-content;
  padding: 20px;
  border: 3px solid navy;
  border-radius: 15px;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
  /* background-color: skyblue; */
}

div.location-area {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
}

div.temperature-area {
  text-align: center;
  font-size: 2em;
  
  
}

div.condition-area {
  text-align: center;
  font-size: 1.8em;
  font-weight: 900;
  text-shadow: 0.2px 1px lightblue, 0 0 1em black, 0 0 0.2em black;
}

.condition-icon {
  width: 30%;
  height: 30%;
  margin: 0 auto;
}

p.show-more {
  cursor: pointer;
  text-shadow: 0.2px 1px lightblue, 0 0 1em black, 0 0 0.2em black;
}

div.details {
  border: 1px solid black;
  font-size: 1rem;
  font-weight: 600;
  height: 85px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-shadow: 0.2px 1px lightblue, 0 0 1em black, 0 0 0.2em black;
}

.details::-webkit-scrollbar {
  width: 5px;
  background-color: lightblue;
}

.details::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 5px;
}

aside.last-updated {
  text-align: center;
  font-size: 0.9em;
  color: black;
}
