.weather-form {
  display: flex;
  justify-content: start;
  flex-direction: row;
}

div.weather-page {
  position: absolute;
  left: 20%;
  top: 20px;
  height: 97vh;
  width: 90%;
}

a {
  color: black;
  text-decoration: none;
  margin: 20px;
  width: 200px;
}

a.active-link {
  color: blue;
}
